<div class="row">
  <div class="col-8">
    <div class="container h-100" id="ticket-map" data-api-key="<%= google_map_config.api_key %>" data-default-center="<%= google_map_config.default_center.to_json %>" data-polygon-coordinates="<%= @ticket.digsite_info %>">
    </div>
  </div>


  <div class="col-4">
    <div class="row">
      <h3><%= t('models.ticket.name') %></h3>

      <table class="table table-striped">
        <tbody>
          <%- %w[request_number request_type sequence_number response_due_date_time_at primary_sa_code additional_sa_codes created_at].each do |attribute|  %>
            <tr>
              <td class="font-weight-bold"><%= t("models.ticket.attributes.#{attribute}") %></td>
              <td><%= @ticket.public_send(attribute) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="row">
      <h3><%= t('models.excavator.name') %></h3>

      <table class="table table-striped">
        <tbody>
          <%- %w[company_name crew_on_site full_address].each do |attribute|  %>
            <tr>
              <td class="font-weight-bold"><%= t("models.excavator.attributes.#{attribute}") %></td>
              <td><%= @ticket.excavator.try(attribute) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
