<!DOCTYPE html>
<html>
  <head>
    <title>DiggingManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'styles', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/nav_bar' %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
